# project-specific aliases not included.
alias enw="emacs -nw"
alias ga="git add ."
alias gc="git commit -m"
alias gfp="git fetch && git pull"
alias gp="git push"
alias gs="git status"
alias mc="medioed -c"
alias mcb="mincbuild"
alias mcm="make clean && make"
alias mcmr="make clean && make && make run"
alias mfr="make -B -j$(nproc)"
alias tsi="tokei src include"
